In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression #to build a linear regression
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split

import matplotlib.dates as mdates #to format dates in plot 
import seaborn as sns

In [75]:
train_df = pd.read_csv('train.csv')
#test_df = pd.read_csv('test.csv')

In [76]:
train_df.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [77]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571441 entries, 0 to 571440
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    571441 non-null  int64
 1   Age                   562493 non-null  float64
 2   Gender                571441 non-null  object
 3   Annual Income         549869 non-null  float64
 4   Marital Status        562508 non-null  object
 5   Number of Dependents  519147 non-null  float64
 6   Education Level       571441 non-null  object
 7   Occupation            401045 non-null  object
 8   Health Score          536280 non-null  float64
 9   Location              571441 non-null  object
 10  Policy Type           571441 non-null  object
 11  Previous Claims       398179 non-null  float64
 12  Vehicle Age           571437 non-null  float64
 13  Credit Score          505740 non-null  float64
 14  Insurance Duration    571441 non-null  float64
 15  Policy Start Date     571441 non-null  object
 16  Customer Feedback     534291 non-null  object
 17  Smoking Status        571440 non-null  object
 18  Exercise Frequency    571440 non-null  object
 19  Property Type         571440 non-null  object
 20  Premium Amount        571440 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 91.6+ MB

In [78]:
#change date to date format
#Passing errors='coerce' will force an out-of-bounds date/non dates to NaT
train_df['Policy Start Date'] = pd.to_datetime(train_df['Policy Start Date'], errors='coerce')
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571441 entries, 0 to 571440
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    571441 non-null  int64
 1   Age                   562493 non-null  float64
 2   Gender                571441 non-null  object
 3   Annual Income         549869 non-null  float64
 4   Marital Status        562508 non-null  object
 5   Number of Dependents  519147 non-null  float64
 6   Education Level       571441 non-null  object
 7   Occupation            401045 non-null  object
 8   Health Score          536280 non-null  float64
 9   Location              571441 non-null  object
 10  Policy Type           571441 non-null  object
 11  Previous Claims       398179 non-null  float64
 12  Vehicle Age           571437 non-null  float64
 13  Credit Score          505740 non-null  float64
 14  Insurance Duration    571441 non-null  float64
 15  Policy Start Date     571440 non-null  datetime64[ns]
 16  Customer Feedback     534291 non-null  object
 17  Smoking Status        571440 non-null  object
 18  Exercise Frequency    571440 non-null  object
 19  Property Type         571440 non-null  object
 20  Premium Amount        571440 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(10)
memory usage: 91.6+ MB

In [79]:
print(train_df.dtypes) #.dtypes is a function not a variable, thus must print() it

id                               int64
Age                            float64
Gender                          object
Annual Income                  float64
Marital Status                  object
Number of Dependents           float64
Education Level                 object
Occupation                      object
Health Score                   float64
Location                        object
Policy Type                     object
Previous Claims                float64
Vehicle Age                    float64
Credit Score                   float64
Insurance Duration             float64
Policy Start Date       datetime64[ns]
Customer Feedback               object
Smoking Status                  object
Exercise Frequency              object
Property Type                   object
Premium Amount                 float64
dtype: object

In [80]:
categorical_columns = train_df.select_dtypes(include=['object', 'category']).columns.tolist()
numerical_columns = train_df.select_dtypes(include=['number']).columns.tolist()

print('Categorical :',categorical_columns,'\n','Numerical  :',numerical_columns)

Categorical : ['Gender', 'Marital Status', 'Education Level', 'Occupation', 'Location', 'Policy Type', 'Customer Feedback', 'Smoking Status', 'Exercise Frequency', 'Property Type']
 Numerical  : ['id', 'Age', 'Annual Income', 'Number of Dependents', 'Health Score', 'Previous Claims', 'Vehicle Age', 'Credit Score', 'Insurance Duration', 'Premium Amount']

In [81]:
# Uniq Values of Categorical
for col in categorical_columns:
    print(col,'\n',train_df[col].unique(),'\n',"-" * 30)

Gender
 ['Female' 'Male']
 ------------------------------
Marital Status
 ['Married' 'Divorced' 'Single' nan]
 ------------------------------
Education Level
 ["Bachelor's" "Master's" 'High School' 'PhD']
 ------------------------------
Occupation
 ['Self-Employed' nan 'Employed' 'Unemployed']
 ------------------------------
Location
 ['Urban' 'Rural' 'Suburban']
 ------------------------------
Policy Type
 ['Premium' 'Comprehensive' 'Basic']
 ------------------------------
Customer Feedback
 ['Poor' 'Average' 'Good' nan]
 ------------------------------
Smoking Status
 ['No' 'Yes' nan]
 ------------------------------
Exercise Frequency
 ['Weekly' 'Monthly' 'Daily' 'Rarely' nan]
 ------------------------------
Property Type
 ['House' 'Apartment' 'Condo' nan]
 ------------------------------

In [82]:
# Uniq Values of 
for col in numerical_columns:
    print(col,'\n',train_df[col].unique(),'\n',"-" * 30)

id
 [     0      1      2 ... 571438 571439 571440]
 ------------------------------
Age
 [19. 39. 23. 21. 29. 41. 48. 44. 56. 25. 40. 18. 59. 34. 22. 46. 49. 42.
 43. 64. 52. 37. 58. 50. 35. 61. 31. 54. 45. 30. 33. 28. 62. 53. 47. 27.
 nan 38. 63. 32. 36. 20. 51. 55. 57. 24. 60. 26.]
 ------------------------------
Annual Income
 [10049. 31678. 25602. ... 36153. 58281. 93434.]
 ------------------------------
Number of Dependents
 [ 1.  3.  2.  0.  4. nan]
 ------------------------------
Health Score
 [22.59876067 15.56973099 47.17754929 ... 16.96639693 20.18082222
 27.82815658]
 ------------------------------
Previous Claims
 [ 2.  1.  0. nan  3.  4.  5.  6.  7.  8.  9.]
 ------------------------------
Vehicle Age
 [17. 12. 14.  0.  8.  4. 11. 10.  9.  6. 19.  3. 15. 16.  5.  7. 18.  1.
  2. 13. nan]
 ------------------------------
Credit Score
 [372. 694.  nan 367. 598. 614. 807. 398. 685. 635. 431. 597. 511. 498.
 584. 420. 595. 799. 773. 798. 543. 416. 425. 486. 795. 495. 449. 803.
 421. 695. 713. 589. 812. 382. 469. 530. 538. 842. 575. 794. 836. 784.
 439. 381. 801. 624. 497. 359. 662. 703. 426. 331. 679. 375. 321. 531.
 622. 464. 418. 534. 454. 502. 823. 319. 660. 371. 562. 488. 577. 791.
 638. 438. 779. 310. 748. 392. 446. 593. 576. 493. 479. 826. 332. 616.
 716. 602. 343. 377. 788. 758. 571. 554. 682. 641. 360. 522. 728. 388.
 535. 519. 651. 829. 620. 776. 835. 432. 607. 705. 644. 686. 797. 509.
 831. 529. 774. 592. 843. 738. 781. 766. 364. 349. 692. 574. 324. 632.
 379. 434. 442. 764. 429. 683. 770. 696. 611. 436. 482. 636. 609. 374.
 566. 537. 648. 578. 707. 581. 541. 845. 441. 718. 630. 586. 780. 401.
 757. 646. 752. 665. 506. 336. 430. 424. 459. 786. 447. 339. 516. 590.
 456. 334. 645. 520. 453. 647. 588. 585. 489. 532. 772. 380. 490. 573.
 712. 437. 342. 792. 583. 487. 587. 539. 793. 691. 759. 494. 762. 653.
 391. 472. 560. 659. 810. 734. 731. 765. 407. 440. 656. 815. 415. 527.
 613. 402. 783. 751. 658. 465. 335. 559. 536. 603. 657. 742. 846. 739.
 689. 468. 513. 328. 723. 626. 505. 617. 698. 725. 423. 744. 338. 743.
 348. 389. 450. 833. 704. 667. 652. 664. 825. 496. 504. 629. 580. 678.
 572. 345. 397. 346. 414. 460. 841. 596. 674. 822. 483. 405. 314. 565.
 693. 485. 832. 749. 830. 451. 387. 561. 775. 326. 302. 393. 727. 463.
 329. 730. 304. 817. 445. 768. 567. 639. 491. 582. 542. 761. 819. 778.
 523. 787. 350. 618. 548. 466. 702. 394. 844. 508. 756. 805. 476. 820.
 625. 544. 767. 473. 521. 785. 839. 553. 828. 325. 461. 547. 594. 724.
 827. 309. 378. 492. 687. 722. 452. 568. 816. 470. 555. 709. 417. 719.
 591. 396. 834. 533. 457. 604. 796. 477. 631. 341. 433. 847. 637. 684.
 386. 720. 499. 733. 697. 706. 745. 721. 612. 552. 351. 365. 818. 808.
 569. 481. 715. 406. 564. 501. 729. 524. 361. 484. 736. 518. 467. 790.
 782. 699. 760. 403. 563. 316. 710. 755. 802. 608. 376. 318. 711. 308.
 848. 557. 681. 680. 478. 601. 821. 558. 655. 301. 507. 546. 824. 677.
 404. 320. 663. 356. 410. 654. 673. 337. 619. 621. 462. 672. 763. 806.
 649. 627. 688. 849. 528. 643. 549. 746. 732. 515. 800. 444. 579. 671.
 811. 615. 737. 661. 306. 363. 556. 714. 690. 312. 352. 769. 362. 642.
 753. 307. 623. 411. 510. 634. 354. 628. 366. 838. 385. 353. 837. 599.
 500. 668. 300. 373. 814. 474. 409. 771. 726. 358. 413. 471. 514. 551.
 650. 475. 676. 384. 419. 754. 517. 311. 813. 443. 368. 701. 303. 750.
 804. 357. 455. 395. 708. 545. 717. 777. 313. 315. 600. 422. 383. 340.
 540. 512. 370. 435. 427. 408. 809. 605. 633. 675. 503. 347. 740. 327.
 412. 322. 526. 369. 840. 448. 400. 317. 610. 570. 735. 344. 480. 670.
 399. 666. 669. 550. 458. 390. 333. 789. 741. 700. 640. 525. 305. 323.
 355. 747. 606. 330. 428.]
 ------------------------------
Insurance Duration
 [5. 2. 3. 1. 4. 6. 8. 9. 7.]
 ------------------------------
Premium Amount
 [2869. 1483.  567. ... 4193. 4743.   nan]
 ------------------------------

### Linear Regression

In [83]:
### Have to change date col, impute missing values, and labelencode/onehotencode categorical, 
### otherwise LinearRegression cannot work

In [84]:
def Categorical_Encode(df):
    # Select categorical columns
    categorical_columns = df.select_dtypes(include=['object']).columns
    
    # If no categorical columns are found, print a warning and return the DataFrame
    if len(categorical_columns) == 0:
        print("Warning: No categorical columns found in the DataFrame.")
        return df
    
    # Fill missing values with the most frequent value using SimpleImputer
    imputer = SimpleImputer(strategy='most_frequent')
    df[categorical_columns] = imputer.fit_transform(df[categorical_columns])
    
    # Apply Label Encoding to each categorical column
    for col in categorical_columns:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])
    
    return df


def fix_dates(df, date_column='Policy Start Date'):
    # Check if the specified date column exists in the DataFrame
    if date_column not in df.columns:
        print(f"Warning: '{date_column}' column not found in the DataFrame.")
        return df
    
    # Convert the date column to datetime format, coercing errors to NaT (Not a Time)
    df[date_column] = pd.to_datetime(df[date_column], errors='coerce')
    
    # Check for missing or invalid dates in the date column
    if df[date_column].isnull().any():
        print(f"Warning: Missing or invalid dates found in the '{date_column}' column.")
    
    # Extract year, month, and day from the date column
    df['Year'] = df[date_column].dt.year
    df['Month'] = df[date_column].dt.month
    df['Day'] = df[date_column].dt.day
    
    # Drop the original date column
    df.drop(date_column, axis=1, inplace=True)
    
    return df


def fill_missing_with_iqr(df):
    
    numeric_columns = df.select_dtypes(include=['number']).columns
    
    if len(numeric_columns) == 0:
        print("Warning: No numerical columns found in the DataFrame.")
        return df
    
    for col in numeric_columns:
        if df[col].isnull().any():
            Q1 = df[col].quantile(0.25)
            Q3 = df[col].quantile(0.75)
            IQR = Q3 - Q1
            
            lower_bound = Q1 - 1.5 * IQR
            upper_bound = Q3 + 1.5 * IQR
            
            random_values = np.random.uniform(lower_bound, upper_bound, size=df[col].isnull().sum())
            df.loc[df[col].isnull(), col] = random_values
    
    return df

In [85]:
#date
clean_train = fix_dates(train_df)

# categorical
clean_train = Categorical_Encode(clean_train)

# numeric
clean_train = fill_missing_with_iqr(clean_train)

Warning: Missing or invalid dates found in the 'Policy Start Date' column.

In [86]:
clean_train

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount,Year,Month,Day
0,0,19.0,0,10049.0,1,1.000000,0,1,22.598761,2,...,372.000000,5.0,2,0,3,2,2869.000000,2023.000000,12.000000,23.000000
1,1,39.0,0,31678.0,0,3.000000,2,0,15.569731,0,...,694.000000,2.0,0,1,1,2,1483.000000,2023.000000,6.000000,12.000000
2,2,23.0,1,25602.0,0,3.000000,1,1,47.177549,1,...,808.418565,3.0,1,1,3,2,567.000000,2023.000000,9.000000,30.000000
3,3,21.0,1,141855.0,1,2.000000,0,0,10.938144,0,...,367.000000,1.0,2,1,0,0,765.000000,2024.000000,6.000000,12.000000
4,4,21.0,1,39651.0,2,1.000000,0,1,20.376094,0,...,598.000000,4.0,2,1,3,2,2022.000000,2021.000000,12.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571436,571436,64.0,1,26083.0,0,0.000000,0,0,25.912175,1,...,805.000000,6.0,1,0,3,1,811.000000,2020.000000,9.000000,30.000000
571437,571437,26.0,0,44780.0,1,5.558978,0,1,15.437927,1,...,163.052024,7.0,0,1,3,1,450.000000,2020.000000,7.000000,3.000000
571438,571438,41.0,1,7087.0,0,0.000000,2,1,16.966397,2,...,543.000000,5.0,0,0,2,1,825.000000,2021.000000,1.000000,18.000000
571439,571439,37.0,0,27299.0,1,2.000000,1,0,20.180822,0,...,405.000000,4.0,1,1,2,1,1798.000000,2021.000000,1.000000,17.000000
571440,571440,42.0,1,91758.0,2,0.000000,2,0,27.828157,0,...,394.000000,1.0,0,1,3,2,-462.803537,2017.489888,6.224839,33.982056

In [87]:
# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Select all columns except the last one
columns_to_normalize = clean_train.columns.difference(['Premium Amount']) 

# Normalize the selected columns
clean_train[columns_to_normalize] = scaler.fit_transform(clean_train[columns_to_normalize])

In [88]:
print(clean_train)

              id       Age  Gender  Annual Income  Marital Status  \
0       0.000000  0.255366     0.0       0.289525             0.5
1       0.000002  0.472789     0.0       0.399329             0.0
2       0.000003  0.298850     1.0       0.368483             0.0
3       0.000005  0.277108     1.0       0.958665             0.5
4       0.000007  0.277108     1.0       0.439806             1.0
...          ...       ...     ...            ...             ...
571436  0.999993  0.744568     1.0       0.370925             0.0
571437  0.999995  0.331464     0.0       0.465844             0.5
571438  0.999997  0.494531     1.0       0.274488             0.0
571439  0.999998  0.451046     0.0       0.377098             0.5
571440  1.000000  0.505402     1.0       0.704338             1.0

        Number of Dependents  Education Level  Occupation  Health Score  \
0                   0.375007         0.000000         0.5      0.464864
1                   0.625014         0.666667         0.0      0.370256
2                   0.625014         0.333333         0.5      0.795686
3                   0.500010         0.000000         0.0      0.307917
4                   0.375007         0.000000         0.5      0.434948
...                      ...              ...         ...           ...
571436              0.250003         0.000000         0.0      0.509462
571437              0.944896         0.000000         0.5      0.368482
571438              0.250003         0.666667         0.5      0.389055
571439              0.500010         0.333333         0.0      0.432320
571440              0.250003         0.666667         0.0      0.535250

        Location  ...  Credit Score  Insurance Duration  Customer Feedback  \
0            1.0  ...      0.280100               0.500                1.0
1            0.0  ...      0.598299               0.125                0.0
2            0.5  ...      0.711367               0.250                0.5
3            0.0  ...      0.275159               0.000                1.0
4            0.0  ...      0.503432               0.375                1.0
...          ...  ...           ...                 ...                ...
571436       0.5  ...      0.707989               0.625                0.5
571437       0.5  ...      0.073618               0.750                0.0
571438       1.0  ...      0.449081               0.500                0.0
571439       0.0  ...      0.312710               0.375                0.5
571440       0.0  ...      0.301840               0.000                0.0

        Smoking Status  Exercise Frequency  Property Type  Premium Amount  \
0                  0.0            1.000000            1.0     2869.000000
1                  1.0            0.333333            1.0     1483.000000
2                  1.0            1.000000            1.0      567.000000
3                  1.0            0.000000            0.0      765.000000
4                  1.0            1.000000            1.0     2022.000000
...                ...                 ...            ...             ...
571436             0.0            1.000000            0.5      811.000000
571437             1.0            1.000000            0.5      450.000000
571438             0.0            0.666667            0.5      825.000000
571439             1.0            0.666667            0.5     1798.000000
571440             1.0            1.000000            1.0     -462.803537

            Year     Month       Day
0       0.846393  1.000000  0.667029
1       0.846393  0.454545  0.333515
2       0.846393  0.727273  0.879266
3       1.000000  0.454545  0.333515
4       0.539178  1.000000  0.000000
...          ...       ...       ...
571436  0.385571  0.727273  0.879266
571437  0.385571  0.545455  0.060639
571438  0.539178  0.000000  0.515432
571439  0.539178  0.000000  0.485112
571440  0.000000  0.474985  1.000000

[571441 rows x 23 columns]

In [89]:
# Drop features with low correlation with premium amount
# And drop features highly correlated with each other, keep only one of them 

# Correlation matrix
correlation_matrix = clean_train.corr()
print(correlation_matrix['Premium Amount'].sort_values(ascending=False))  # Check correlation with the target

Premium Amount          1.000000
Previous Claims         0.022873
Health Score            0.011809
Month                   0.006668
Marital Status          0.003786
Occupation              0.003396
Gender                  0.001660
Location                0.001481
Vehicle Age             0.000299
Day                     0.000221
Number of Dependents    0.000086
Education Level        -0.000081
Property Type          -0.000158
Policy Type            -0.000848
Insurance Duration     -0.000881
Smoking Status         -0.001423
id                     -0.001692
Exercise Frequency     -0.001694
Age                    -0.003340
Customer Feedback      -0.005531
Annual Income          -0.011153
Year                   -0.012300
Credit Score           -0.019021
Name: Premium Amount, dtype: float64

There is weak linear correlation between premium amount and the features. Thus, linear regression might not yield good result.

In [104]:
# Log transform response variable 
# Adding a small constant (e.g., 1) to handle zeros

clean_train['Premium Amount'] = np.log(clean_train['Premium Amount'] + 1)

In [111]:
total_nan = clean_train.isnull().sum().sum()
print(total_nan)

#remove nan response variable otherwise will have error during linear regression
clean_train = clean_train.dropna(subset=['Premium Amount'])

1

In [113]:
# Correlation matrix
correlation_matrix = clean_train.corr()
print(correlation_matrix['Premium Amount'].sort_values(ascending=False))  # Check correlation with the target

Premium Amount          1.000000
Previous Claims         0.013802
Health Score            0.012992
Marital Status          0.004774
Month                   0.004007
Location                0.002671
Occupation              0.001174
Education Level         0.000979
Property Type           0.000857
Smoking Status          0.000605
Vehicle Age             0.000273
Number of Dependents   -0.000154
Gender                 -0.000247
id                     -0.000683
Insurance Duration     -0.000736
Policy Type            -0.000854
Exercise Frequency     -0.000951
Day                    -0.001418
Age                    -0.002208
Customer Feedback      -0.005116
Year                   -0.008955
Credit Score           -0.038161
Annual Income          -0.082232
Name: Premium Amount, dtype: float64

In [114]:
# alternative code
# X = train_df.iloc[:,:-1]
# y = train_df.iloc[:,-1]

X = clean_train.drop(columns=['id', 'Premium Amount', 'Day', 'Month', 'Customer Feedback']) #note cannot feed dates into linear regression
y = clean_train['Premium Amount']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 0)

In [115]:
reg = LinearRegression(fit_intercept = True) #initialize
reg = LinearRegression().fit(X_train, y_train)

In [116]:
y_pred = reg.predict(X_test)

In [117]:
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)
results = []
results.append((r2, rmse, mae))
results

[(0.010366647236876858, 0.1659473062332887, 0.114281934261242)]

In [38]:
# view pred vs actual
type(y_pred)

numpy.ndarray

In [118]:
y_pred_series = pd.Series(y_pred)
y_test_pred = pd.DataFrame({'actual': y_test.reset_index(drop=True), 
                             'pred': y_pred_series.reset_index(drop=True)})
print(y_test_pred)

          actual      pred
0       1.950626  2.031885
1       1.534194  2.006077
2       1.743706  2.022350
3       1.754252  2.010341
4       2.041155  2.025897
...          ...       ...
114283  2.128306  2.044134
114284  2.083621  2.017514
114285  2.027052  2.033776
114286  1.998560  2.004518
114287  2.118487  2.017279

[114288 rows x 2 columns]

In [119]:
# model coefficient
reg.coef_

array([-3.08353509e-03, -3.21860378e-04, -9.02767168e-02,  2.38270737e-03,
       -1.53986893e-04, -1.95486287e-04,  7.50300524e-04,  1.48023952e-02,
        9.40636823e-04, -4.95278921e-04,  2.19490893e-02, -1.69362619e-04,
       -4.97394563e-02, -4.04099664e-04, -1.00823290e-04, -8.50133198e-04,
        7.23268601e-05, -7.36194563e-03])

In [120]:
#model intercept
reg.intercept_

2.066183048647526

### XGBoost

In [121]:
import xgboost as xgb
from xgboost import XGBRegressor

In [122]:
reg = XGBRegressor(n_estimators=1000, max_depth=7, eta=0.1, subsample=0.7)
reg.fit(X_train, y_train)

ImportError: cannot import name 'Float32Dtype' from 'pandas' (C:\Users\SohLiQin\anaconda3\lib\site-packages\pandas\__init__.py)